<div class="main-div" style="@StyleCss">
    <div style="display: inline-block;">
        <span class="oi oi-plus mr-2" style="position: relative; top: 2px;"></span>
    </div>
    <div style="display: inline-block">
        @Value
    </div>
    
</div>

<style>
    .main-div {
        font-size: 1rem;
        font-weight: 400 !important;
        padding: .375rem .75rem;
        line-height: 1.5;
        margin-bottom: 0;
        width: fit-content;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
    }

</style>

@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string TxtColor { get; set; }

    [Parameter]
    public string BgColor { get; set; }

    private string StyleCss { get; set; }

    protected override void OnParametersSet()
    {
        if (string.IsNullOrEmpty(TxtColor)) TxtColor = "#000000";
        if (string.IsNullOrEmpty(BgColor)) BgColor = "#c0c0c0";

        StyleCss = $"color: {TxtColor}; background-color: {BgColor};";
    }

}
