@page "/recipes/allrecipes"
@page "/recipes"
@using BlazorRecipeApp.Mm.Recipes.Models
@using BlazorRecipeApp.Mm.Recipes.Services
@using BlazorRecipeApp.Mm.Shared.Data
@using BlazorRecipeApp.Mm.Shared.Interfaces
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject IRecipeService RecipeService

<h3 class="text-center">Recipes</h3>

<div class="row" style="max-width: 100%;">
    @foreach (var r in AllRecipes)
    {
        <div class="col-6 col-md-3" style="height:fit-content">
            <RecipeCard Recipe="r"></RecipeCard>
        </div>
    }

</div>


@code {
    public IEnumerable<Recipe> AllRecipes { get; set; } = new List<Recipe>();

    protected override async Task OnParametersSetAsync()
    {
        //using (ApplicationDbContext context = DbFactory.CreateDbContext())
        //{
        //    AllRecipes = await context.Recipes.ToListAsync();
        //}
        AllRecipes = await RecipeService.GetAllRecipesAsync();
    }







}
