@page "/recipes/{RecipeId:int}"
@using BlazorRecipeApp.Mm.Recipes.Models
@using BlazorRecipeApp.Mm.Recipes.Services
@using BlazorRecipeApp.Mm.Shared.Interfaces
@inject IRecipeService RecipeService
@inject IMenuService MenuService


<button type="button" @onclick="OnAddToMenuButtonClick">Add to menu</button>

@if (!string.IsNullOrWhiteSpace(StatusMessage))
{
    <span>@StatusMessage</span>
}

<RecipeComponent Recipe="@Recipe"></RecipeComponent>

@code {
    [Parameter]
    public int RecipeId { get; set; }

    public Recipe Recipe { get; set; } = new Recipe();

    public string StatusMessage { get; set; } = "";

    private async Task OnAddToMenuButtonClick()
    {
        try
        {
            await MenuService.AddDish(RecipeId);
            StatusMessage = "Recipe was added.";
        }
        catch (Exception e)
        {
            StatusMessage = "Recipe could not be added.";
        }

    }

    protected override async Task OnParametersSetAsync()
    {
        Recipe = await RecipeService.GetRecipeByIdAsync(RecipeId);
    }
}
