<div class="form-inline">
    <InputNumber @bind-Value="IngredientModel.Amount" class="form-control noradius ml-0 mr-1 my-1" style="width: 5rem"/>
    <InputText @bind-Value="IngredientModel.Unit" class="form-control noradius mx-1 my-1" style="width: 5rem"/>
    <InputText @bind-Value="IngredientModel.Name" class="form-control noradius mx-2 my-1" list="ingredientList"/>
        <datalist id="ingredientList">
            @foreach (var g in Groceries)
            {
                <option value="@g.GroceryName">@g.GroceryName</option>
            }
        </datalist>
    <InputText @bind-Value="IngredientModel.Description" class="form-control noradius mx-1 my-1"/>
</div>

@code {
    [Parameter]
    public Ingredient IngredientModel { get; set; }

    [Parameter]
    public List<Grocery> Groceries { get; set; } = new List<Grocery>();

    public string NoName => string.Empty;
}
