@using BlazorRecipeApp.Mm.Recipes.Models
@using BlazorRecipeApp.Mm.Recipes.Services
@using BlazorRecipeApp.Mm.Shared.Interfaces
@inject NavigationManager NavManager
@inject IRecipeService RecipeService

<div class="row d-flex justify-content-end">
    <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
            @*<button type="button" class="btn btn-sm btn-outline-primary" @onclick="HandleEditButton">Edit</button>*@
            <IconButton CssClass="btn-sm btn-outline-primary"
                        OnClick="HandleEditButton"
                        Text="Edit"
                        Type="button">
                <span class="material-icons-outlined">
                    edit
                </span>
            </IconButton>
        </li>

        <li class="list-inline-item">
            @*<button type="button" class="btn btn-sm btn-outline-danger" @onclick="()=>Modal.Open()">Delete</button>*@
            <IconButton CssClass="btn-sm btn-outline-danger"
                        OnClick="()=>Modal.Open()"
                        Text="Delete"
                        Type="button">
                <span class="material-icons-outlined">
                    delete
                </span>
            </IconButton>
        </li>
    </ul>
</div>

<Modal @ref="Modal">
    <Title>
        Delete the recipe for @Recipe.Title
    </Title>
    <Body>
    <p>
        Dou you really want to delete this recipe?
    </p>
    </Body>
    <Footer>
        <IconButton CssClass="btn-danger"
                    OnClick="HandleDeleteButton"
                    Text="Delete"
                    Type="button">
            <span class="material-icons-outlined">
                delete
            </span>
        </IconButton>
        <EasyButton.Button CssClass="btn-secondary"
                    OnClick="() => Modal.Close()"
                    Type="button">Cancel
        </EasyButton.Button>
    </Footer>
</Modal>

@code {
    [Parameter]
    public Recipe Recipe { get; set; }

    private Modal Modal { get; set; }

    private void HandleEditButton()
    {
        NavManager.NavigateTo($"/recipes/edit/{Recipe.Id}");
    }

    private async Task HandleDeleteButton()
    {
        await RecipeService.DeleteRecipeAsync(Recipe);
        NavManager.NavigateTo("/recipes");
    }
}
