.dad-container {
    border: 1px solid #c0c0c0;
    border-radius: 0px;
}

.dropzone {
    width: 100%;
    min-width: 300px;
    border: 1px solid #c0c0c0;
    border-radius: 0px;
    padding: 0 4px 0 0;
}

.draggable {
    color: black !important;
    border-radius: 0px;
    border: 0.5px solid #c0c0c0;
    background-color: white;
    margin: 2px 4px 2px 2px;
    width: 100%;
}

.draggable:hover input {
    background-color: #FAFAFA;
}


.draggable input:disabled {
    background-color: transparent !important;
    border: none !important;
}

.drag-symbol {
    border: none !important;
    border-radius: 0px !important;
    background-color: transparent !important;
}


.dragged {
    opacity: .5;
    background-color: #FAFAFA;
}

.name-input {
    border: none;
    border-radius: 0px;
    padding: 0 0.5rem;
    width: 100%;
}

.name-input:hover {
    background: #FAFAFA;
}

.name-input:focus {
    border: 0.5px solid #c0c0c0;
}

.menu-name {
    font-size: 1.25rem;
    font-weight: 400;
}

.dnd-button {
    border-radius: 0px;
    margin: 0.5rem;
}

.day-button {
    border: 0;
    border-radius: 8px;
    background: none;
    color: #c0c0c0;
    font-size: 0.75rem;
}

.day-button:hover {
    background: #fafafa;
    color: darkgrey;
}

*:focus {
    outline: none !important
}
