@page "/"
@using BlazorRecipeApp.Mm.Identity.Services

@inject MmAuthenticationStateProvider _authAuthenticationStateProvider
@inject NavigationManager NavManager

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, world!</h1>
    </NotAuthorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
</AuthorizeView>

Welcome to MenuMaker.

<hr class="mb-5" />

@code
{
    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }
    
    async Task LogoutClick()
    {
        await _authAuthenticationStateProvider.Logout();
        NavManager.NavigateTo("/login");
    }
}
