@page "/"
@using BlazorRecipeApp.Models.MealPlan
@inject IDbContextFactory<ApplicationDbContext> ContextFactory
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<MMButton Value="Test" TxtColor="white" BgColor="#17a2b8"></MMButton>
<br/>
<div class="input-group-sm">
    <div class="input-group-prepend">
        <span class="input-group-text"></span>
    </div>
    <input type="text"
           class="form-control"
           style="border: 0px;"
           disabled="disabled"
           value="some test text here"/>
</div>
<div class="input-group input-group-sm">
    <div class="input-group-prepend">
        <span class="input-group-text" ><span class="oi oi-elevator"></span></span>
    </div>
    <input type="text" class="form-control" value="whatever value here" disabled>
</div>

<hr class="mb-5"/>

@code
{
    public Menu TestMenu { get; set; }

    protected override void OnInitialized()
    {

    }
}
