@inherits LayoutComponentBase

<div class="page">
    <div class="fixed-top">
        <NavBar></NavBar>
    </div>

    <div class="main mt-5 pt-5 d-flex justify-content-center" style="max-width: 1100px;">
        <div class="content pt-5">
            @Body
        </div>
    </div>
</div>
