<header>
    <div class="container-fluid justify-content-center border-bottom fixed-top bg-white px-0 px-sm-3" style="box-shadow: 0 1px 8px 0px #888888;">
        <div class="container px-0" style="max-width: 1100px">
            
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/">
                    <img src="/images/bowl_logo_2.svg" width="60" height="60" class="d-inline-block align-top" alt="MenuMaker Logo">
                    MenuMaker
                </a>

                <button class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="@NavMenuCssClass navbar-collapse" id="navbarSupportedContent" @onclick="ToggleNavMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/recipes/allrecipes">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menus/mymenus">Menus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="/admin">Admin</a>
                        </li>
                        <li class="ml-auto"><div class="ml-md-auto"></div></li>
                        
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <AuthNavBar></AuthNavBar>
                    </ul>

                </div>
            </nav>
        </div>
    </div>
</header>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}