@page "/menus/edit/{menuId:int}"
@inject IMenuService MenuService
<h3>Edit</h3>

<MenuStateContainer MenuId="MenuId"></MenuStateContainer>

@code 
{
    [Parameter]
    public int MenuId { get; set; }
}


