@page "/menus/mymenus"
@using BlazorRecipeApp.Services.Interfaces
@using BlazorRecipeApp.Services.MenuFactory
@inject IMenuService MenuService
@inject NavigationManager NavManager
@inject IMenuFactory MenuFactory

<h3>MyMenus</h3>

<MenuList Menus="Menus"></MenuList>



@code {
    public List<Menu> Menus { get; set; } = new List<Menu>();

    protected override async Task OnParametersSetAsync()
    {
        var menuList = await MenuService.GetAllMenusAsync();
        Menus = menuList.ToList();
    }


} 
